<div class="center-home">
  <%= render 'layouts/navigation_link' %>  
  <h1 style="font-family: 'Lora', serif">[ Y-Blog ]</h1>
  <h3 class="h3-font">This is where love happens...</h3>
  <%= link_to "  Enroll Now", signup_path, class: "btn btn-primary fa fa-rss" %>
  
</div>

<!--<%= link_to "Y-Blog", articles_path %> | <%= link_to 'About', about_path %>-->