// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

.h3-font {
  font-family: 'Lobster', cursive;
  color: #FFDDDD;
}

#logo {
  float: left;
  font-size: 1.7em;
  // color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
  
  &:hover {
    text-decoration: none;
  }
}

.homepage {
  background-image: asset-url('img6.jpg');
}


.center-home {
  text-align: center;
  height: 620px;
  
  h1 {
    color: #fff;
    text-align: center;
    margin: 170px 0 30px 0;
    font-weight: bold;
  }  
}

.center {
  text-align: center;
  
  h1 {
    color: #fff;
    text-align: center;
    margin: 170px 0 30px 0;
    font-weight: bold;
  }  
}

.article-actions {
  border-top: 1px solid #eaeaea;
  padding-top: 5px;
}

.article-title {
  font-weight: bold;
  font-size: 1.5em;
}

.article-body {
  border-top: 1px solid #eaeaea;
  padding-top: 15px;
  padding-bottom: 15px;
}

.article-meta-details {
  border-top: 1px solid #eaeaea;
  margin-top: 15px;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  // color: #fff;
  
  small {
    float: left;
  }
  
  ul {
    float: right;
    list-style: none;
    
    li {
      float: left;
      margin-left: 15px;
    }
  }
}